---
layout: layouts/base.njk
---

<div class="split-view">
  <div>
    {% image "./images/bigwheel2.png", "bigwheel" %}
  </div>
  <div>
    Infrequent blog of Noah Paessel, a visual arts instructor, software developer, and designer.
  </div>
</div>


---

{{ content | safe }}
